* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Prevents content from being too compressed */
}

.container {
  text-align: center;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 24px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

h2 {
  margin: 0 5px; /* Add margin around the VS text for spacing */
  font-size: 28px; /* Adjust font size if needed */
  color: #ff4500;
  font-weight: bold; /* Make the VS text bold */
  display: flex; /* Use flexbox for VS text */
  align-items: center; /* Center the text vertically */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.card-container {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-bottom: 20px; /* Margin below the card container */
}

.card {
  width: 90%; /* Makes the card responsive */
  max-width: 400px; /* Keeps it from being too large on bigger screens */
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.counter {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    font-size: 30px;
    margin-top: 10px;
    margin: 10px;
    font-weight: bold;
    color: black; /* Change color as desired */
    padding: 8px 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

#result {
  font-size: 23px;
  margin-top: 10px;
  font-weight: bold;
}
