* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 24px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

h2 {
  margin: 0 5px; /* Add margin around the VS text for spacing */
  font-size: 24px; /* Adjust font size if needed */
  font-weight: bold; /* Make the VS text bold */
  display: flex; /* Use flexbox for VS text */
  align-items: center; /* Center the text vertically */
}

.card-container {
  display: flex; /* Use flexbox for layout */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-bottom: 20px; /* Margin below the card container */
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  width: 400px;
  margin: 20px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.counter {
    font-size: 20px;
    margin-top: 10px;
    margin: 10px;
    font-weight: bold;
    color: #007BFF; /* Change color as desired */
}

.controls {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result {
  font-size: 23px;
  margin-top: 10px;
  font-weight: bold;
}
